<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action = "/shoe/<%=i%>?_method=PUT" method = "POST">
    <h3>Style: <input type = "text" name = "style" value = "<%=shoe.style%>"></h3>
    <h4>size: <input type = "text" name = "size" value = "<%=shoe.size%>"></h4>
    <h5>Color: <input type = "text" name = "color" value = "<%=shoe.color%>"></h5>
    <button type ="submit">You wanna edit me?</button>
    </form>
</body>
</html>