<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> INDEX Friends </h1>
<ul>
        <%for (let i = 0;i < friends.length;i++){ %>
            <li><a href="/friends/<%=friends[i]._id%>"> <%= friends[i].name%> </a> </li>
            
            <form action='/friends/<%=friends[i]._id%>?_method=DELETE' method='post'>
           <button type='submit'> DELETE FRIEND</button>
           </form>

       <% } %>
</ul>
<button><a href='/friends/new'> MAKE NEW FRIEND (yeah... its that easy)</a></button>

</body>
</html>


