<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Index</title>
</head>
<body>
    
    <h1>Soccer Teams</h1>
    <div class="flex-container">
    <form action="team/new" method="get"><button>Add Team</button></form>
        <ul>
        <% for(let i = 0; i < allTeams.length; i++){ %>
            <li>
                <a href="/team/<%=allTeams[i]._id%>"><%=allTeams[i].name; %></a><br>
                <a href="/team/<%=allTeams[i]._id%>/edit"><button>Edit</button></a>
                <form action="/team/<%=allTeams[i]._id%>?_method=DELETE" method="POST">
                    <button>Remove</button>
                </form>
            </li>
        <% } %>
    </ul>
    </div>
    
</body>
</html>