<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>new product</h1>
    <form action ="/posts" method = "POST">
     name: <input type="text" name="name">
     brand: <input type="text" name="brand">
     size: <input type="text" name="size">
     <button type="submit">Create</button>
     </form>
</body>
</html>