<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Guitar New Page</title>
</head>
<body>
  <h1>Guitar New Page</h1>
  <form action="\guitars" method="POST">
    Name: <input type="text" name="name">
    Type: <input type="text" name="type">
    Make: <input type="text" name="make">
    Num Strings: <input type="text" name="strings">
    Famous Guitarists: <input type="text" name="famousGuitarists">
    Image URL: <input type="text" name="img">
    <input type="submit">
  </form>
</body>
</html>