<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>New Car Page</h1>
    <form action="/cars" method="post">
      Year: <input type="text" name="year"><br/>
      Make: <input type="text" name="make"><br/>
      Model: <input type="text" name="model"><br/>
      Color: <input type="text" name="color"><br/>
      <button type="submit">Create New Car</button>
      </form>
  </body>
</html>
