<!DOCTYPE html>
<html>
<head>
	<title>New Pizza</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	
	<hr>
	
	<h1>New Pizza</h1>
	
	<hr>

	<form action="/pizza" method="POST">
		<input type="text" name="name">Name</input><br>
		<input type="text" name="crust">Crust</input><br>
		<input type="text" name="sauce">Sauce</input><br>
		<input type="text" name="topping">Topping</input><br>
		<button type="submit">Submit</button><br>
	</form>

	<hr>

</body>
</html>