<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plant Index</title>
</head>
<body>
    <h1>New Plant</h1>

<form action="/plants" method="POST">
Name: <input type="text" name="name"><br/>
Color: <input type="text" name="color"></br>
Leaf Type: <input type="text" name="leafType"></br>
<button type="submit">Create Plant</button>
</form>
    
</body>
</html>