<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Coffee</title>
</head>
<body>
<h1>New Coffee</h1>

<form action="/coffee" method="POST">
  Name: <input type="text" name="name"><br/>
  Type: <input type="text" name="type"><br/>
  Is Instant: <input type="checkbox" name="isInstant"><br/>
  <button type="submit">Create Coffee</button>
    
</body>
</html>