<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> ADD Friends </h1>
    <form action="/friends" method='post'>
   Name: <input type='text' name='name'>
   City:<input type='text' name='city'>
   Age: <input type='text' name='age'>
   Qualities: <input type='text' name='qualities'>
    <input type='submit'>
    </form>



</body>
</html>
