<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Make a New Team</h1>
    <form action="" method="">
        <p>Name <input type='text' name='name'></p>
        <p>League <input type='text' name='league'></p>
        <p>Image <input type='text' name='image'></p>
        <p>The Best? <input type='checkbox' name="isBest"></p>
        <button type='submit'>Submit</button>
    </form>
</body>
</html>