<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <h1>Add New Food</h1>
    <form action="/foodapp" method="post">
        <div>New Food: <input type="text" placeholder="new food" name="name"></div>
        <div>Meal: <input type="text" placeholder="meal" name="meal"></div>
        <div>Healthy? <input type="checkbox" name="healthy"></div>
        <div>Comfort food? <input type="checkbox" name="comfort"></div>
        <div>Overall Rating (1-10): <input type="text" placeholder="1-10" name="rating"></div>
        <div>Image: <input type="text" placeholder="image url" name="img"></div>
        <div><button type="submit">Submit New Food</button>
    </form>
</body>
</html>