<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Guitar New Page</title>
</head>
<body>
  <h1>Guitar New Page</h1>
  Name: 
  Type:  name: { type: String, required: true, unique: true },
  type: String,
  make: String,
  strings: Number,
  famousGuitarists: [String],
</body>
</html>