<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Make You're Own Shoe!</h1>
        <form action="/shoe" method="POST">
          Style: <input type="text" name="style"><br/>
          Size: <input type="text" name="size"><br/>
          Color: <input type="text" name="color"><br/>
          <button type="submit">Create</button>
        </form>
    
</body>
</html>
