<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Create New Hero:</h1>
    <form action="/got" method="POST">
        Name: <input type="text" name="name"><br/>
        Gender: <input type="text" name="gender"><br/>
        Age: <input type="text" name="age"><br/>
        House: <input type="text" name="house"><br/>
        Loves: <input type="text" name="loves"><br/>
        <button type="submit">Submit Hero</button>
    </form>
    
</body>
</html>