<!DOCTYPE html>
<html>
<head>
  <title>
  </title>
</head>
<body>
  <h1>Add a Song to The Playlist!! COWABUNGA!</h1>
  <form action="/playlist" method="POST">
    Song!: <input type="text" name="song"><br/>
    Artist!: <input type="text" name="artist"><br/>
    <button type="submit">add song NOW!</button>
  </form>
</body>
</html>